<style>
  body {
    margin: 0;
  }
</style>

<link href="<%= url('/bootstrap.min.css') %>" rel="stylesheet" type="text/css" />

<nav class="navbar navbar-default" style="background-color: #337ab7;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/RomanKrasavtsev/rails-revision" target="_blank" style="color: white;">
        Rails Revision
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/romankrasavtsev" target="_blank" style="color: white;">
            &copy; 2016 Roman Krasavtsev
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container theme-showcase" role="main">
  <% @revisions.each do |revision| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= revision[:server] %>
      </div>
      <div class="panel-body">
        <%= revision[:revision][0..6] %>
      </div>
    </div>
  <% end %>
</div>
